<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ab.lxoa.dao.mapper.LxMemoMenuListMapper" >
  <resultMap id="BaseResultMap" type="com.ab.lxoa.dto.LxMemoMenuList" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="parent_menu_id" property="parentMenuId" jdbcType="VARCHAR" />
    <result column="parent_menu_name" property="parentMenuName" jdbcType="VARCHAR" />
    <result column="if_root_menu" property="ifRootMenu" jdbcType="BIT" />
    <result column="sequence" property="sequence" jdbcType="SMALLINT" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delflag" property="delflag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_id, menu_name, parent_menu_id, parent_menu_name, if_root_menu, sequence, create_user_id,
    create_time, delflag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from lx_memo_menu_list
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByMenuId" parameterType="java.lang.String" >
    delete from lx_memo_menu_list
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="addMenu" parameterType="com.ab.lxoa.dto.LxMemoMenuList" >
    insert into lx_memo_menu_list (id, menu_id, menu_name,
      parent_menu_id, parent_menu_name, if_root_menu,
      sequence, create_user_id, create_time,
      delflag)
    values (#{id,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR},
      #{parentMenuId,jdbcType=VARCHAR}, #{parentMenuName,jdbcType=VARCHAR}, #{ifRootMenu,jdbcType=BIT},
      #{sequence,jdbcType=SMALLINT}, #{createUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{delflag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ab.lxoa.dto.LxMemoMenuList" >
    insert into lx_memo_menu_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="parentMenuId != null" >
        parent_menu_id,
      </if>
      <if test="parentMenuName != null" >
        parent_menu_name,
      </if>
      <if test="ifRootMenu != null" >
        if_root_menu,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="delflag != null" >
        delflag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null" >
        #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuName != null" >
        #{parentMenuName,jdbcType=VARCHAR},
      </if>
      <if test="ifRootMenu != null" >
        #{ifRootMenu,jdbcType=BIT},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=SMALLINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.ab.lxoa.dto.LxMemoMenuList" >
    update lx_memo_menu_list
    <set >
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null" >
        parent_menu_id = #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuName != null" >
        parent_menu_name = #{parentMenuName,jdbcType=VARCHAR},
      </if>
      <if test="ifRootMenu != null" >
        if_root_menu = #{ifRootMenu,jdbcType=BIT},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=SMALLINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delflag != null" >
        delflag = #{delflag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ab.lxoa.dto.LxMemoMenuList" >
    update lx_memo_menu_list
    set menu_id = #{menuId,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      parent_menu_id = #{parentMenuId,jdbcType=VARCHAR},
      parent_menu_name = #{parentMenuName,jdbcType=VARCHAR},
      if_root_menu = #{ifRootMenu,jdbcType=BIT},
      sequence = #{sequence,jdbcType=SMALLINT},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delflag = #{delflag,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--获取全部菜单栏-->
  <select id="getMenuListByMenuId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from lx_memo_menu_list
    where 1=1
    <if test="menuId != null and menuId != ''" >
      and parent_menu_id = #{menuId}
    </if>
    <if test="userId != null" >
      and create_user_id = #{userId}
    </if>
    order by sequence
  </select>

  <!--批量更新-->
  <update id="batchUpdateMenu" parameterType="java.util.List">
    <if test="list!=null">
      <foreach collection="list" item="menu" index= "index" open="" close="" separator =";">
        update lx_memo_menu_list
        <set >
          <if test="menu.menuId != null">
            menu_id = #{menu.menuId,jdbcType=VARCHAR},
          </if>
          <if test="menu.menuName != null" >
            menu_name = #{menu.menuName,jdbcType=VARCHAR},
          </if>
          <if test="menu.parentMenuId != null" >
            parent_menu_id = #{menu.parentMenuId,jdbcType=VARCHAR},
          </if>
          <if test="menu.parentMenuName != null" >
            parent_menu_name = #{menu.parentMenuName,jdbcType=VARCHAR},
          </if>
          <if test="menu.ifRootMenu != null" >
            if_root_menu = #{menu.ifRootMenu,jdbcType=BIT},
          </if>
          <if test="menu.sequence != null" >
            sequence = #{menu.sequence,jdbcType=SMALLINT},
          </if>
          <if test="menu.createUserId != null" >
            create_user_id = #{menu.createUserId,jdbcType=VARCHAR},
          </if>
          <if test="menu.createTime != null" >
            create_time = #{menu.createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="menu.delflag != null" >
            delflag = #{menu.delflag,jdbcType=TINYINT},
          </if>
        </set>
        where
          id = #{menu.id,jdbcType=VARCHAR}
      </foreach>
    </if>
  </update>
</mapper>